.NavBody {
    position: fixed;
    height: 12vh;
    width: 101vw;
    padding-left: 100px;
    background: rgb(153, 56, 53);
}

.pointer {
    cursor: pointer;
}
.avatarSize {
    width: 50px;
    height: 50px;
}
.pr{
    padding-right: 5vw;
}
.fonteBonita {
    font-family: 'Merienda', cursive;
    font-size: 3vw;
    color: #fcb431

}
